/* blackjack.css */
.button {
    -fx-background-color: #B19CD9;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-family: "AppleMyungjo";
    -fx-font-size: 14px; /* Smaller font size */
    -fx-background-radius: 5px;
    -fx-padding: 10px 20px; /* Reduced padding */
    -fx-pref-width: 120px;
    -fx-pref-height: 70px;
}

.button:hover {
    -fx-background-color: #957DAD;
}

.label {
    -fx-font-size: 20px;
    -fx-text-fill: #B19CD9;
    -fx-font-family: "AppleMyungjo";
    -fx-font-weight: bolder;
    -fx-background-radius: 5px;
    -fx-padding: 0px 5px;
}

.chips {
    -fx-alignment: bottom-right;
    -fx-padding: 920px 200px 20px 60px;
}

.text-field {
    -fx-text-fill: #B19CD9;
    -fx-font-size: 25px;
    -fx-font-family: "AppleMyungjo";
    -fx-font-weight: bolder;
    -fx-alignment: baseline-center;
    -fx-background-color: transparent;
}

.title {
    -fx-font-size: 20px;
    -fx-text-fill: white;
    -fx-font-family: "AppleMyungjo";
    -fx-font-weight: bolder;
    -fx-alignment: center;
    -fx-background-color: #6C3BAA;
    -fx-background-radius: 5px;
    -fx-padding: 10px 10px;
}

#styled-vbox {
    -fx-padding: 10;
    -fx-border-color: white;
    -fx-border-width: 3;
    -fx-border-radius: 2;
    -fx-background-color: transparent;
}

#custom-label {
    -fx-font-size: 23px;
    -fx-text-fill: white;
    -fx-font-family: "AppleMyungjo";
    -fx-font-weight: bolder;
}

.load-vbox {
    -fx-background-color: #6C3BAA;
}

